.tagAndCategoryContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
  height: 60%;

  .tag,
  .category {
    background-color: rgb(230, 230, 230);
    color: black;
    margin: 5px 0 5px 5px;
    padding: 3px 5px;
    border-radius: 5px;
    height: 20px;
  }

  .category {
    background-color: #ffec46;
  }
}
