@import "../main.scss";

.headerContainer {
  background-color: $accent-color;
  margin-bottom: 15px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

header a {
  text-decoration: none;
  color: black;
}
