.productCard {
  width: 300px;
  margin-top: 20px;
  background-color: rgb(29, 29, 29);
  color: white;
}

.imgContainer {
  height: 200px;
  padding: 10px;
}

.productCard img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 120px;
}

.tagContainer {
  display: flex;
  margin-left: 5px;
}

.tag {
  background-color: rgb(230, 230, 230);
  color: black;
  margin: 5px 0 5px 5px;
  padding: 3px 5px;
  border-radius: 5px;
}

.textRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.productCard button {
  width: 20px;
  height: 20px;
}

.productCard strong {
  font-size: 20px;
}
